form{
    width: 1200px;
    height: 569px;

    display: flex;
}
.columnhabits{
    width: 40px;
    height: 388px;
    margin-left: 30px;
    margin-top: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 0px;
}
.habits{
    font-size: 30px;
}

.datecheckbox{
    width: 1168px;
    height: 423px;
}
.caixadate{
    width: 1137px;
    height: 41px;
    padding-left: 10px;
    background-color: black;
    border-radius: 8px;
    border: white 2px solid;
    color: #A1A1AA;
    box-shadow: aliceblue 0px 0px 10px 8px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 48px;
}
.columnchecks{
    width: 1137px;
    height: 64px;
    padding: 0px 20px 0px 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checks{
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    display: flex;
    row-gap: 48px;

    width: 50px;
    height: 50px;
    background-color: #27272A;
    border-radius: 5px;
    border: 3px solid white;
    transition: 0.4s;
   
}
.checks:hover{
    box-shadow: white 0px 10px 10px;
}
.checks:checked{
    background-image: url(./assets/check-gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
}